@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-size: initial;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif;
  background-color: #f9f9f9;
}

.header {
  padding: 3rem 1rem;
  position: relative;
  margin-bottom: 50rem;
}
.header__logo-container__logo-image {
  display: block;
  margin: auto;
  width: 40%;
}
.header__hero-section__hero-image {
  width: 60%;
  display: block;
  margin: 5rem auto 3rem;
}
.header__hero-section__title-and-description-container {
  text-align: center;
}
.header__hero-section__title-and-description-container__title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #29293a;
}
.header__hero-section__title-and-description-container__description {
  font-size: 0.9rem;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  color: #747b95;
}
.header__hero-section__title-and-description-container__button {
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: #5175ff;
  color: #fff;
}
.header__hero-section__title-and-description-container__button:hover {
  background-color: #b3c0f8;
}
.header__background-design {
  position: absolute;
  width: 100%;
  top: -12.5%;
  left: 0;
  z-index: -1;
}

.main {
  position: relative;
}
.main__cards-section {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main__cards-section__title {
  display: none;
}
.main__cards-section__individual-card {
  margin: 2rem 1rem;
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}
.main__cards-section__individual-card__title {
  color: #29293a;
}
.main__cards-section__individual-card__price {
  margin: 3rem 0;
}
.main__cards-section__individual-card__price__price-tag {
  font-size: 2.5rem;
  font-weight: 700;
  color: #29293a;
}
.main__cards-section__individual-card__price__per-user-tag {
  font-size: 0.9rem;
  color: #29293a;
}
.main__cards-section__individual-card__features {
  margin: 3rem 0;
}
.main__cards-section__individual-card__features p {
  font-size: 0.9rem;
  color: #747b95;
  margin: 0.5rem 0;
}
.main__cards-section__individual-card__button {
  padding: 0.75rem 2rem;
  border-radius: 50px;
  background-color: #cad5ff;
  color: #5175ff;
  font-weight: 600;
  font-size: 0.9rem;
  z-index: 5;
}
.main__cards-section__individual-card__button:hover {
  background-color: #e2e7fb;
}
.main__cards-section .pro-card {
  background-color: #5175ff;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.main__cards-section .pro-card .main__cards-section__individual-card__title {
  color: #fff;
}
.main__cards-section .pro-card .main__cards-section__individual-card__price .main__cards-section__individual-card__price__price-tag {
  color: #fff;
}
.main__cards-section .pro-card .main__cards-section__individual-card__price .main__cards-section__individual-card__price__per-user-tag {
  color: #fff;
}
.main__cards-section .pro-card .main__cards-section__individual-card__features p {
  color: #cad5ff;
}
.main__cards-section .pro-card .main__cards-section__individual-card__button {
  background-color: #fff;
  color: #5175ff;
}
.main__cards-section .pro-card .main__cards-section__individual-card__button:hover {
  color: #cad5ff;
}
.main__cards-section .pro-card__background-design-image {
  position: absolute;
  width: 200%;
  top: -50%;
  left: -50%;
}

.footer {
  background-color: #29293a;
  padding: 50rem 1rem 5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.footer__countdown-container__title {
  color: #fff;
  letter-spacing: 3.5px;
  font-weight: 400;
}
.footer__countdown-container__title__date {
  color: #5175ff;
}
.footer__countdown-container__date-boxes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 3.5rem;
  width: 100%;
}
.footer__countdown-container__date-boxes-container__individual-date-box {
  width: 20%;
  background-color: #333950;
  border-radius: 5px;
}
.footer__countdown-container__date-boxes-container__individual-date-box p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer__countdown-container__date-boxes-container__individual-date-box span {
  color: #747b95;
  font-size: 0.85rem;
}
.footer__countdown-container__get-started-button {
  background-color: #5175ff;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 500;
  z-index: 5;
}
.footer__countdown-container__get-started-button:hover {
  background-color: #b3c0f8;
}
.footer__background-image {
  position: absolute;
  width: 250%;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.signup-header {
  position: relative;
}
.signup-header__logo-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-header__logo-container__logo-image {
  width: 50%;
}
.signup-header__description-and-text-container {
  margin: 5rem 1rem 5rem;
  text-align: center;
}
.signup-header__description-and-text-container__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.signup-header__description-and-text-container__description {
  font-size: 0.85rem;
  line-height: 1.5;
}
.signup-header__countdown-container {
  text-align: center;
  margin: 0 1rem 18rem;
}
.signup-header__countdown-container__title {
  color: #29293a;
  letter-spacing: 3.5px;
  font-weight: 400;
}
.signup-header__countdown-container__title__date {
  color: #5175ff;
}
.signup-header__countdown-container__date-boxes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0;
  width: 100%;
}
.signup-header__countdown-container__date-boxes-container__individual-date-box {
  width: 20%;
  background-color: #cad5ff;
  border-radius: 5px;
  padding: 1rem 0;
}
.signup-header__countdown-container__date-boxes-container__individual-date-box p {
  color: #5175ff;
  font-size: 1.5rem;
  font-weight: 700;
}
.signup-header__countdown-container__date-boxes-container__individual-date-box span {
  color: #747b95;
  font-size: 0.85rem;
  font-weight: 600;
}
.signup-header__form {
  margin: 5rem 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}
.signup-header__form label {
  margin-top: 1rem;
  align-self: flex-start;
  font-size: 0.85rem;
  padding-left: 0.5rem;
  color: #747b95;
}
.signup-header__form__input, .signup-header__form__submit {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  width: 100%;
}
.signup-header__form__input {
  border-bottom: 1px solid #747b95;
}
.signup-header__form__select {
  width: 100%;
  border: none;
  color: #747b95;
  font-weight: 600;
  margin: 1.15rem 0;
  padding-left: 0.25rem;
}
.signup-header__form #signup-header__form__select-label {
  display: none;
}
.signup-header__form__submit {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  background-color: #5175ff;
  color: #fff;
  font-size: 0.95rem;
  font-weight: 500;
  z-index: 5;
}
.signup-header__form__submit:hover {
  background-color: #b3c0f8;
}
.signup-header__background-design-container {
  background-color: #333950;
}
.signup-header__background-design-container__background-design-div__background-design-image {
  width: 100%;
}

.input-wrapper {
  position: relative;
}
.input-wrapper .error-icon {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  pointer-events: none;
}
.input-wrapper .error-message {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.input-wrapper .error-icon,
.input-wrapper .error-message {
  display: none;
}

.visually-hidden {
  display: none;
}

@media (min-width: 375px) {
  .signup-header__logo-container__logo-image {
    width: 40%;
  }
  .signup-header__description-and-text-container {
    margin: 5rem 3rem 5rem;
  }
  .signup-header__countdown-container {
    margin: 0 3rem 15rem;
  }
  .signup-header__form {
    margin: 5rem 3rem;
  }
}
@media (min-width: 425px) {
  .signup-header__description-and-text-container {
    margin: 5rem 4rem 5rem;
  }
  .signup-header__countdown-container {
    margin: 0 4rem 12rem;
  }
  .signup-header__form {
    margin: 5rem 4rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
  .signup-header__logo-container {
    justify-content: flex-start;
    padding: 2rem;
  }
  .signup-header__logo-container__logo-image {
    width: 20%;
  }
  .signup-header__description-and-text-container {
    margin: 5rem 8rem 5rem;
  }
  .signup-header__countdown-container {
    margin: 0 8rem 15rem;
  }
  .signup-header__form {
    margin: 5rem 8rem;
    bottom: 5%;
  }
  .signup-header__background-design-container__background-design-div {
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .signup-header__form {
    margin: 5rem 20rem;
  }
  .signup-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    overflow: hidden;
  }
  .signup-header__logo-container, .signup-header__description-and-text-container, .signup-header__countdown-container {
    grid-column: 1/3;
    margin-left: 3rem;
    margin-right: 12rem;
    text-align: left;
  }
  .signup-header__description-and-text-container, .signup-header__countdown-container {
    max-width: 426.6px;
  }
  .signup-header__logo-container {
    margin-right: 0;
    padding-left: 0;
  }
  .signup-header__background-design-container {
    grid-column: 3/4;
    grid-row: 1/4;
  }
  .signup-header__form {
    margin: 0;
    bottom: 50%;
    transform: translateY(50%);
    left: 50%;
    right: 15%;
  }
}
@media (min-width: 1440px) {
  .signup-header__logo-container,
  .signup-header__description-and-text-container,
  .signup-header__countdown-container {
    margin-left: 10%;
  }
}
@media (min-width: 375px) {
  .header {
    padding: 3rem 2.75rem;
  }
  .main__cards-section__individual-card {
    margin: 2rem 2.5rem;
  }
  .footer {
    padding: 50rem 2.85rem 5rem;
  }
}
@media (min-width: 425px) {
  .header {
    padding: 3rem 4.325rem;
  }
  .main__cards-section__individual-card {
    margin: 2rem 4.075rem;
  }
  .footer {
    padding: 50rem 4.425rem 5rem;
  }
}
@media (min-width: 768px) {
  .header {
    padding: 3rem;
    margin-bottom: 37.5rem;
  }
  .header__logo-container__logo-image {
    margin: 0;
    width: 25%;
  }
  .header__hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
    margin-top: 3rem;
  }
  .header__hero-section__hero-image {
    margin: auto;
    width: 100%;
    align-self: center;
  }
  .header__hero-section__title-and-description-container {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    align-self: center;
  }
  .header__hero-section__title-and-description-container__title {
    font-size: 2.2rem;
  }
  .header__hero-section .header__background-design {
    position: absolute;
    width: 75%;
    top: -26%;
    left: 53%;
    right: -28%;
    z-index: -1;
  }
  .header__background-design {
    position: absolute;
    width: 70%;
    top: -25%;
    left: 50%;
    z-index: -1;
  }
  .main__cards-section__individual-card {
    margin: 2rem 3rem;
    padding: 0 3rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
  }
  .main__cards-section__individual-card__title {
    align-self: center;
  }
  .main__cards-section__individual-card__features {
    grid-row: 2/3;
    margin: 0;
    align-self: center;
  }
  .main__cards-section__individual-card__price {
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
  .main__cards-section__individual-card__button {
    grid-column: 1/2;
    align-self: center;
    text-align: center;
    margin-right: auto;
  }
  .main__cards-section .pro-card__background-design-image {
    position: absolute;
    width: 140%;
    top: -111%;
    left: -50%;
  }
  .footer {
    padding: 37.5rem 10rem 5rem;
  }
  .footer__background-image {
    width: 150%;
    top: 15%;
  }
}
@media (min-width: 1024px) {
  .header {
    margin-bottom: 15rem;
  }
  .header__logo-container, .header__hero-section {
    max-width: 918.4px;
    margin: 0 auto;
  }
  .header__logo-container {
    margin-bottom: 3rem;
  }
  .main {
    margin: 0 3rem;
  }
  .main__cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    max-width: 918.4px;
    margin: 0 auto;
  }
  .main__cards-section__individual-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin: 0;
    padding: 2rem 0 2.5rem;
  }
  .main__cards-section__individual-card__button {
    margin: 0;
  }
  .main__cards-section .pro-card__background-design-image {
    position: absolute;
    width: 200%;
    top: -40%;
    left: -50%;
  }
  .footer {
    padding-top: 20rem;
    padding-bottom: 7rem;
  }
  .footer__countdown-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    max-width: 704px;
    margin: 0 auto;
  }
  .footer__countdown-container__title {
    text-align: left;
  }
  .footer__countdown-container__date-boxes-container {
    margin: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }
  .footer__countdown-container__date-boxes-container__individual-date-box p {
    font-size: 2.5rem;
  }
  .footer__countdown-container__get-started-button {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: flex-start;
    margin-left: auto;
  }
  .footer__background-image {
    width: 125%;
    top: -50%;
    left: 25%;
  }
}
@media (min-width: 1440px) {
  .header__background-design {
    top: -50%;
  }
  .header__background-design {
    width: 64%;
    top: -60%;
    left: 55%;
  }
  .footer__background-image {
    width: 125%;
    top: -105%;
    left: 27.5%;
  }
}